.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
  width: 100%;
}

.name {
  font-weight: normal;

  margin-bottom: 0.8rem;

  font-size: 1rem;
}

.temperature {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
}

.weather {
}

.description {
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
  .name {
    margin-right: 0.8rem;
  }
  .city {
    flex-direction: row;
    justify-content: flex-start;
  }
}
