.search {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  bottom: 5%;
}

.location {
  color: #fff;
}

.locationInput {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  margin-left: 10px;
  color: #fff;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .search {
    right: 20%;
    top: 30%;
  }
}
