.app {
  min-height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/2629319.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  position: relative;
}

.weather {
  margin: 60px;
  background: #e7c2c2;
  border-radius: 32px;
  box-shadow: 0 0 16px rgb(0, 0, 0, 0.5);
}

.bottom {
  display: flex;
  flex-direction: column;
}

.divider {
  display: none;
}

.parallel {
  margin: 1rem auto;
  color: #fff;

  height: 2px;
  width: 60%;
  background-color: rgba(125, 125, 125, 0.3);
}

@media screen and (min-width: 1024px) {
  .bottom {
    flex-direction: row;
    padding: 36px 0;
  }
  .divider {
    display: block;
    color: aqua;
    margin: 100px 0;

    width: 2px;
    background-color: rgba(125, 125, 125, 0.3);
  }

  .parallel {
    display: none;
  }
}
