.current {
}
.top {
  display: flex;
}
.weatherDisplay {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 4rem;
}

.weather {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
  margin-top: 0.25rem;
  margin-left: 30px;
}

.location {
  font-weight: 500;
  font-size: 1.6rem;
}
.location::after {
  content: ' ';
  display: block;
  margin-top: 0.8rem;
  background: #fff;
  width: 50%;
  height: 3px;
  transform: translateX(50%);
}

.metas {
  margin-top: 3rem;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}

.humidity {
  margin-right: 32px;
}

.wind {
  margin-left: 32px;
}

.divider {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
