.current {
  display: flex;
  padding: 40px 0;
  flex-direction: row;
  background-image: url(https://i.imgur.com/GhQZhaO.jpg);
  background-size: cover;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  color: white;
  position: relative;
}
/* .top {
  display: flex;
}
.weatherDisplay {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.left {
  padding: 0 120px;
}

.right {
  padding: 0 24px;
  display: flex;
  justify-content: center;
}

.bottom {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1.5rem;
}

.temperature {
  margin-top: 3rem;
  text-align: center;
  font-size: 3rem;
}

.weather {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin-top: 0.25rem;
}

.metas {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}

.humidity {
  margin-right: 32px;
}

.wind {
  margin-left: 32px;
}

.location {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
.location::after {
  content: '';
  display: block;
  margin-top: 0.5rem;
  height: 1px;
  background: white;
  border-radius: 2px;
  width: 50%;
  transform: translateX(50%);
}

.divider {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1024px) {
  .current {
    flex-direction: column;
    padding: 64px 0;
  }

  .left {
    padding: 0 96px;
  }

  .right {
    padding: 0 96px;
    flex: 1;
    order: 1;
    justify-content: flex-end;
  }

  .location {
    margin-top: 16px;
    font-weight: 500;
  }

  .location::after {
    content: '';
    display: none;

    background: white;
    border-radius: 2px;
    width: 50%;
    transform: translateX(50%);
    margin-top: 1rem;
    height: 3px;
  }

  .temperature {
    margin: 0;
    text-align: center;
    font-size: 5rem;
  }
  .metas {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
  }
}
